:root{
    --text-xl: 32px;
    --text-l: 20px;
    --text-m: 18px;
    --text-ch:14px;
    --black-color:#121212;
    --yellow-color: #f8f830;
    --gray:#858585;
    --font-family:'Inter', sans-serif;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}
.back-container{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 40px;
    left: 70px;
}

.back-container .backP{
   position: absolute;
   top: 6px;
   left: 30px;
   font-size: var(--text-m);
}
.back-container a{
    text-decoration: none;
    color: var(--black-color);
    font-size: var(--text-l);
}
.backSVG img{
    width: 30px;
    height: 30px;
}
figure img {
    transition: transform 0.3s; /* Animacion del logo */
}

/* escala de transformacion del logo */
figure img:hover {
    transform: scale(1.1); 
}
form{
    display: flex;
    flex-direction: column;
}
footer{
    position: absolute;
    bottom: 20px;
}
figure img{
    padding-top: 20px;
    padding-right: 25px;
    width: 280px;
    height: 160px;
    flex-shrink: 0;
}
.texth2 h2{
    font-size: var(--text-xl);
    font-weight: 600;
    flex-shrink: 0;
}
.textp p{
    font-size: var(--text-ch);
    color: var(--gray);
}

.label {
    position: relative;
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: var(--text-m);
    margin-top: 35px;
}

.label i {
    position: absolute;
    top: 74%;
    transform: translateY(-50%);
    left: 2px; 
    color: var(--gray);
    font-size: var(--text-m);
}

form .label input {
    padding-left: 25px;
    margin-top: 12px;
    height: 30px;
    font-weight: 500;
    font-size: var(--text-ch);
    outline: none;
    border: none;
}
form a {
    text-decoration: none;
    font-size: var(--text-ch);
    display: flex;
    justify-content: flex-end; 
    color: var(--black-color);
    padding: 6px;
    position: relative; 
    margin-top: 8px;
    margin-bottom: 6px;
}

form a::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px; /* Grosor de la linea amarilla */
    background-color: var(--yellow-color); /* Color del fondo */
    transition: width 0.3s; /* agrega el color a la animación */
}

form a:hover::before {
    width: 100%; 
}
#btn{
    margin-top: 6px;
    height: 32px;
    background-color: var(--black-color);
    border-radius: 18px;
    outline: none;
    border: none;
    color: #ffff;
}
footer{
    font-size: var(--text-ch);
    color: var(--gray);
    font-weight: 500;
}
#btn {
    transform: scale(1);
    transition: transform 0.2s;
}

#btn:hover {
    transform: scale(1.1); /* Animacion del botonl */
}
#btn {
    background-color: var(--black-color);
    transition: background-color 0.3s; /*velocidad de transicion*/
}

#btn:hover {
    background-color:rgb(133, 127, 2); /* Cambia el color */
}